body {
    background-color: rgba(218, 131, 24, 0.584);
    margin: 0;    
    font-family: 'Anton', sans-serif;
}

.main-container {
    border: 1px solid red;  
    height: 100%;   
    display: flex;
    flex-direction: column;

}

main {
    border: 10px Solid gold;
    height: 50%;
}

section {
    border: 10px Solid rgb(162, 54, 20);
    height: 50%;
}

.img {
  
}

h1 {
    fa'Anton', sans-serif;

}